*{
  padding: 0;
  margin: 0;
}

body{
  background: #606c88;
  background: -webkit-linear-gradient(to right, #3f4c6b, #606c88);
  background: linear-gradient(to right, #3f4c6b, #606c88);
  color: #fff;
  text-align: center;
}

.notesHeader, .notesBody, .notesFooter{
  background-color: rgba(0, 0, 0, .5);
  padding: 20px;
  margin: 0 auto;
}

.notesHeader{
  font-family: 'Lobster Two', cursive;
}

.notesBody{
  margin-top: 20px;
}

.notesFooter{
  bottom: 0;
  position: fixed;
  left: 0;
  width: 100%;
}